.boton{
    cursor: pointer;
    display: inline-block;
    background: none !important;
    box-shadow: none !important;
    img,i,svg{
        @include relieve-base(50%);
        vertical-align: middle;
        margin-right: -1px;
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        padding: 1px;
        border-right: transparent !important;


        @include respond-to(w240port){
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height:20px;
        }
        @include respond-to(w240land){
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 20px;
        }
        g {
            fill:$fore-color;
        }

    }
    span{
        @include relieve-base(0 1.5em 1.5em 0);
        font-size: 0.8em;
        font-weight: bold;
        border-left: none !important;
        vertical-align: middle;
        padding-bottom: 0;
        padding-top: 0;
        color:$fore-color;
    }

}
.Coins {
  display: inline-block;
  .boton {
    span{
      padding-left: 0;
      font-weight: bold;

    }
  }
}
.desinflate {
  animation: 0.5s ease-out 0s 1 desinflate;
}

@keyframes desinflate {
    0% {
        transform: scale(1.2);

    }
    100% {
        transform: translateX(0);
    }
}
