ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li{
    list-style-type: none;
    clear: both;

}

li > img {
  float: left;
  margin: 0 10px 0 0;
  height: 30px;
  border: 5px whitesmoke solid;
  background: whitesmoke;
  box-shadow: 0 0 8px $mui-primary-color-dark;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  @include respond-to(w240port){height: 25px;width: 25px;border: 1px whitesmoke solid;}
  @include respond-to(w240land){height: 25px;width: 25px;border: 1px whitesmoke solid;}
  @include respond-to(w320land){height: 30px;width: 30px;border: 2px whitesmoke solid;}
  cursor: pointer;
}
li > H2 {
  font-weight: bold;
  text-align: center;
  border-radius: 50% 0.5em 0.5em 0;
  box-shadow: 0 0 8px $mui-primary-color-dark;

  @include respond-to(w240port){font-size: 1.1em}
  @include respond-to(w240land){font-size: 1.3em}
  @include respond-to(w320port){font-size: 1.5em}

}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
