ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li{
    list-style-type: none;
    clear: both;

}

li > img {
  float: left;
  margin: 0 15px 0 0;
  height: 70px;
  border: 8px whitesmoke solid;
  background: whitesmoke;
  box-shadow: 0 0 8px $mui-primary-color-dark;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  @include respond-to(w240port){height: 40px;width: 50px;border: 3px whitesmoke solid;}
  @include respond-to(w240land){height: 50px;width: 65px;border: 4px whitesmoke solid;}
  cursor: pointer;
}
li > H2 {
  font-weight: bold;
  text-align: center;
  @include respond-to(w240port){font-size: 1.4em}
  @include respond-to(w240land){font-size: 1.5em}
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
