.vitem {
  @include relieve-base(0.5em,$mui-primary-color-light);
  padding: 3px;
}
.vitem > img {
  float: left;
  margin: 0 10px 0 0;
  height: 25px;
  border: 5px whitesmoke solid;
  background: whitesmoke;
  box-shadow: 0 0 8px $mui-primary-color-dark;
  @include respond-to(w240port){height: 40px;width: 40px;border: 1px whitesmoke solid;}
  @include respond-to(w240land){height: 50px;width: 50px;border: 2px whitesmoke solid;}
  @include respond-to(w320land){height: 60px;width: 60px;border: 3px whitesmoke solid;}
  cursor: pointer;
}
.vitem > H2 {
  @include relieve-base(0.5em 0.5em 0 0,$mui-primary-color-dark);
  color: $mui-primary-color-light;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  line-height: 1.1em;

  @include respond-to(w240port){font-size: 0.8em; line-height: 0.9em;}
  @include respond-to(w240land){font-size: 0.9em; line-height: 1em;}
  @include respond-to(w320port){font-size: 1em; line-height: 1.1em;}
  margin: 0;
  margin-bottom: 3px;
  margin-right: 10px;
}
.vitem > H6 {
  border-radius: 0 0em 0.5em 0;
  box-shadow: 0 0 2px $mui-primary-color-dark;
  color: $mui-primary-color-dark;
  font-size: 0.9em;
  line-height: 1em;
 margin-top: 0;
 margin-right: 10px;
  @include respond-to(w240port){font-size: 0.7em; line-height: 0.8em;}
  @include respond-to(w240land){font-size: 0.8em; line-height: 0.9em;}
  @include respond-to(w320port){font-size: 0.9em; line-height: 1.0em;}
}
.vitem p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
.ReactVirtualized__Collection {
}

.ReactVirtualized__Collection__innerScrollContainer {
}

/* Grid default theme */

.ReactVirtualized__Grid {
}

.ReactVirtualized__Grid__innerScrollContainer {
}

/* Table default theme */

.ReactVirtualized__Table {
}

.ReactVirtualized__Table__Grid {
}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__row {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  -webkit-flex: 0 0 24px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* List default theme */

.ReactVirtualized__List {
}
